*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
        background:linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)), url(./cov4.jpg);
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
        width: auto;
        height: 100vh;
    
    
}

nav{
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.534);
}


.logo{
    width: 83px;
    height: 57px;
    opacity: 0.9;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 5px;
    margin-top:2px;

}

ul li{
    display: inline-block;
    margin-right: 15px;
    margin-top:15px;
    cursor: pointer;
    font-size: 20px;
    text-shadow: 0 3px 3px  rgb(161, 159, 159);
    color: white;
  
    
}

ul li:hover{
  color:  rgb(255, 175, 63);
  border-bottom: solid 2px white ;
  transition:linear;
  transition-duration: 0.3s;
  text-shadow:none;

  
}

